[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.dianchu.cc/simple"
verify_ssl = true
name = "dianchu"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
test-components = "*"
airtest = "==1.2.1"

[requires]
python_version = "3.7"

